@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lexend", sans-serif;
}
.newDetails{
    margin-bottom: 20px;
}
.newDetails-Conatiner{
    height: 70vh;
    background-image: url("./assests/images/newsDetailsImg.png");
    background-position: center;
    background-size: cover;
    
    filter: blur(20px);  
    position: relative;
} 
@media screen and (max-width:767px){
    .newDetails-Conatiner{
        height: 50vh;
        
    } 
}



.newDetails-Containers>h1{
    font-size: 50px;
    color: white;
    font-weight: 500;
}
@media screen and (max-width:767px){
    .newDetails-Containers>h1{
        font-size: 20px;
      
    }
}

.newDetails-Containers>p{
    font-size: 20px;
    color: whitesmoke;
    margin-top: 20px;
    font-weight: 300;
}
@media screen and (max-width:767px){
    .newDetails-Containers>p{
        font-size: 14px;
        margin-top: 10px;
    }
}
.newDetails-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
@media screen and (max-width:767px){
    .newDetails-contents{
        width: 350px;
    }
}
.newDetails-Containers{
    text-align: center;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
@media screen and (max-width:767px){
    .newDetails-Containers{
        top:30%;
        
    }
}
.newDetails-contentsMain{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;

}
.newDetails-contentsMain p{
    color: whitesmoke;
}
.newDetails-contentsMain>img{
    height: 15px;
}
.newDetails-ConatinerHeading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60vh;
}
@media screen and (max-width:767px){
    .newDetails-ConatinerHeading{
       
        height: 20vh;
    }
}
.newDetails-ConatinerImg{
     position: absolute; 
     top:-50px; 
    
}
@media screen and (max-width:767px){
    .newDetails-ConatinerImg{
        
        top:-25px; 
       
   }
}

.newDetails-ConatinerHeadingContents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
@media screen and (max-width:767px){
    .newDetails-ConatinerHeadingContents{
        display: block;
        
        padding: 20px;
        overflow: hidden;
    }
}
.newDetails-ConatinerImg>img{
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width:767px){
    .newDetails-ConatinerImg>img{
        width: 350px;
        height: 200px;
        object-fit: cover;
    }
}
.newDetails-Conatiners{
    width: 1000px;
   
}
@media screen and (max-width:767px){
    .newDetails-Conatiners{
        width: 100%;
        margin-top: 10px;
       text-align: justify;
    }
}
.newDetails-Conatiners>p{
    margin-top: 10px;
    color: #464646;
    font-weight: 300;
}
.newDetails-Conatiners>h1{
   color:  #222222;
   font-weight: 600;
}
.blogs-container{
    
    width: 400px;
    border: 1px solid rgb(208, 204, 204);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 13px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width:767px){
    .blogs-container{
    
        width: 100%;
        margin-top: 20px;
        
    }
}
.blogs-containerflex{
    display: flex;
    justify-content: space-between;
}
.blogs-containerS{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
@media screen and (max-width:767px){
    .blogs-containerS{
        display: block;
        padding: 10px;
        margin-top: 20px;
        
    }
}
.blogs-container>h3{
    margin: 10px 0;
    padding: 0px 10px;
    font-size: 25px;
    font-weight: 700;
}
.blogs-container>p{
    padding: 0px 10px;
    font-size: 17px;
    font-weight: 500;
}
@media screen and (max-width:767px){
    .blogs-container>p{
        padding: 0px 10px;
        font-size: 14px;
       
    }
}
.blogs-containerflexContent{
    padding: 0px 10px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.blogs-containerflexContent>span{
    color: #222222;
    font-weight: 700;
}
@media screen and (max-width:767px){
    .blogs-containerflexContent>span{
        font-size: 13px;
    }
}
.rdbtn{
    display: flex;
    gap: 5px;
    border-top: 1px solid rgb(208, 204, 204);
    padding: 10px;
}
.rdbtn>button{
    border: none;
    color: brown;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 0px 5px;
}
.blogs-container>img{
    width: 100%;
    object-fit: contain;
    transition: transform .2s; 
}
.blogs-container>img:hover{
    transform: scale(1.05);
}
.blogs{

    border-top: 1px solid rgb(208, 204, 204);
    margin-bottom: 60px;
}
.blogs>h1{
   padding-left: 60px;
   margin: 50px 0;
}
@media screen and (max-width:767px){
    .blogs>h1{
        padding-left: 10px;
        margin: 30px 0;
     }
}

/* News Letter */
.news_letter{
    background-color: rgb(247, 226, 199);
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:767px){
    .news_letter{
     
        padding: 10px;
        display: block;
       
       
    }
}
.input-container {
   position: relative;
   width: 600px;
}
@media screen and (max-width:767px){
    .input-container {
        
        width: 330px;
    }
}
.input-container>input {
    width: 100%;
    height: 80px;
    padding: 10px 80px 10px 10px; 
    border: 1px solid #703525;
    border-radius: 10px;
    font-size: 22px;
    padding-left: 30px;

}
@media screen and (max-width:767px){
    .input-container>input {
        width: 100%;
        height: 50px;
        padding: 10px 80px 10px 10px; 
       
        font-size: 14px;
        padding-left: 10px;
    
    }
}
.input-container>input:focus{
    outline: none;
}
.news_content>h5{
  color: #703525;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (max-width:767px){
    .news_content>h5{
       
        font-size: 15px;
      }
}
.news_content>h1{
  font-weight: 700;
  font-size: 45px;
  color: #314c3d;
}
@media screen and (max-width:767px){
    .news_content>h1{
       
        font-size: 25px;
       
      }
}

.input-container>button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 27px;
    border: none;
    background-color:#703525; 
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
}
@media screen and (max-width:767px){
    .input-container>button {
        position: absolute;
        top: 4px;
        right: 3px;
        font-size: 20px;
        border: none;
        background-color:#703525; 
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.input-container button:hover {
    background-color:  #bc2626; 
}


.news_content_2{
    margin-top: 30px;
}
@media screen and (max-width:767px){
    .news_content_2{
        margin-top: 20px;
    }
}

/* footer */
.footer{
        background-color: #703525;
        color: rgb(207, 206, 206);
        padding: 100px;
}
@media screen and (max-width:767px){
    .footer{
        
        padding: 20px;
} 
}
.Footer_div{
       display: flex;
       justify-content:space-between;
       align-items: center;
}
@media screen and (max-width:767px){
    .Footer_div{
        display: block;
 }
}
.sec_1{
        font-size: 22px;
 }
 @media screen and (max-width:767px){
    .sec_1{
        font-size: 15px;
 }
 }  
.sec_2{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
}
@media screen and (max-width:767px){
    .sec_2{
        font-size: 14px;
        margin-bottom: 10px;
        
}
}
.sec_3{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        margin-top: 20px;
    }
@media screen and (max-width:767px){
    .sec_3{
        
        display: block;
        font-size: 14px;
        margin-top: 20px;
    }
    }
.sec_1 img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}
@media screen and (max-width:767px){
    .sec_1 img{
        width: 100px;
        height: 50px;
        object-fit: contain;
        margin-bottom: 0px;
    }
}
.socialIcon{
    margin: 20px 0;
    display: flex;
    gap: 10px;
}
.spanFlex{
    display: flex;
    gap: 20px;
}
/* header */
header{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(38,40,25, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}


@media screen and (max-width:767px) {
    header{
        display: flex;
        padding: 10px;
        margin: 0px 0px;
        margin-left: 0;
        margin-right: 0;
    }
}

a{
    text-decoration: none;
}
.logo img{
    width: 100%;
    height: 50px;
    object-fit: contain;
}
@media screen and (max-width:767px) {
    .logo img{
        width: 50px;
    }
}
.navBar>a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-right: 30px;

}
.hamburgerMenu{
    display: none;
}
@media screen and (max-width:767px) {
    .hamburgerMenu{
        display: block;
    }
}
@media screen and (max-width:767px){
    .navBar{
        display: none;
    }
}

@media screen and (max-width:767px){
.hamburgerMenu-nav{
    display: none !important;
   position: absolute;
   top:60px;
   left:0px;
   width: 100%;
   background-color: whitesmoke;
   box-shadow:5px 10px 30px 10px #d0d1d5d5;
   z-index: 999;
}}
@media screen and (max-width:767px){
.hamburgerMenu-nav>h3{
    border: 1px solid rgb(240, 234, 234);
    padding: 5px;
    padding-left: 20px;
}}
@media screen and (max-width:767px){
.hamburgerMenu-nav,a{
    font-size: 17px;
    color: gray;
    font-weight: 400;
}}
@media screen and (max-width:767px){
.hamburgerMenuIcon{
    position: relative;
    cursor: pointer;
}}
.navBar>a:hover{
    color: #bc2626;
}
.registerBtn{
    padding: 15px 30px;
    background-color: #703525;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.registerBtn>a{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.registerBtn:hover{
    background-color: #bc2626;
}